#contents {
	text-align: center;
	color:white;
}

#top {
	background: url('https://images.unsplash.com/photo-1523225580870-1780b3b506fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	margin : 0px;
}

.table {
	width: 60%;
	margin : 0px auto;
	text-align: center;

}

#new {
	margin: 40px 279px;
    text-align: center;
    width: 50%;
    outline: none;
}

.form-group{
	margin : 25px auto;
	width : 60%;
}
.form-group input {
 	padding : 15px;
 	width: 72%;
    display: inline;
  
 }

.form-group button { 
	padding: 6px;
    width: 27%;
    margin-bottom: 5px;	 
}

#searchtable {
	background : #000000;
	color:white;
	margin : 34px auto;
}

#searchtable tr {
	background : #d9534f;

}

